    <%- include('./partials/header.ejs') %>
    <div class="slideshow-container">
        
        <div class="mySlides fade">
            <img src="/assets/img1.jpg">
        </div>
        
        <div class="mySlides fade">
            <img src="/assets/img2.jpg">
        </div>
        
        <div class="mySlides fade">
            <img src="/assets/img3.jpg">
        </div>
    </div>
    <h1 id="overlay-text">Save time, order online!<br>Mon-Sun: 11:00 AM to 9:00 PM<br>Last online order: 8:45 PM</h1>
    
    <section id="menu">
            <h2 class="section-headings">Menu</h2>
            <div id="menu-items">
            <% for( const item of items ) { %>
                <a href="/eatHub/<%= item.id %>"><h3 style="font-size: 25px;"><%= item.name %></h3></a>
                <% } %>
            </div>
                <a href="/eatHub/order"><button class="primary" style="padding: 20px; font-size: 20px;">Create a new order</button></a>
    </section>
    <section id="about">
        <h2 class="section-headings">About</h2>
        <p id="about-us">EatHub has been serving the GitHub community with the best food in the whole world. At EatHub, every dish is created using only the freshest and the finest ingredients. All of our edibles are topped with only the freshest toppings. <br> <br>
        Eat our food! Find out why our customers rave about us. We have been a part of the Github community since 1812. We use only the best ingredients, it must be fresh in order to be used in our dishes.</p>
    </section>
    <%- include('./partials/footer.ejs') %>
    <script src="/js/script.js"></script>
</body>
</html>