* {
    font-family: 'Didact Gothic', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    background-color: black;
    color: white;
}

header {
    display: flex;
    align-items: baseline;
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

#overlay-text {
    position: absolute;
    top: 30vh;
    width: 100vw;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.5;
    font-size: 3em;
    font-weight: 400;
}
@media only screen and (max-width: 900px) {
    #overlay-text {
        font-size: 2em;
    }
}
.slideshow-container {
    display: flex;
    justify-content: center;
    opacity: 0.7;
}
.mySlides {
    display: none;
}
.mySlides img {
    width:100vw;
    height: 75vh;
}
.fade {
    animation-name: fade;
    animation-duration: 3.5s;
}
@keyframes fade {
    from {opacity: .7}
    to {opacity: 1}
}
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */    
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    }
/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
    }

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    }
#menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#menu-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#menu-items > * {
    margin: 0 100px;
}
section {
    text-align: center;
}
a {
    color: rgb(201, 201, 252);
    text-decoration: none;
    cursor: pointer;
}
#cart-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 70vh;
    padding: 0 20px;
}
#cart header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width:100%;
    margin: 0 auto;
}

#cart header h2 {
    text-align: center; 
    margin-right: 10px;
}
article {
    overflow: scroll;
}
#cart-item-header {
    padding-top: 10px;
    padding-right: 10px;
    margin-top: 0;
}

#cart-item-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-bottom: 1px white solid;
}

#cart-item-footer a {
    padding: 8px;
}
button {
    margin: 10px;
    padding: 10px;
    border: none;
    border-radius: 10px;
}
#add-btn {
    font-size: 16px;
    padding: 30px; 
    width: 200px
}

.primary {
    background-color: rgb(142, 142, 255);
    color: white;
}
.secondary {
    background-color: rgb(254, 120, 120);
    color: white;
}
button:hover {
    cursor: pointer;
    filter: brightness(125%);
}
.section-headings {
    font-size: 30px;
}
#about-us {
    width: 40vw;
    margin: 0 auto;
    line-height: 2;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
}

#order-up {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

label {
    cursor: pointer;
    border: 1px solid white;
    margin:20px 40px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    max-width: 350px;
}

#item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
}

#item-header {
    display: flex;
}

#item-header > * {
    margin: auto 10px;
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox]:checked + .myLabel {
    background-color: white;
    color: black;
  } 

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
#item-stats {
    display: flex;
    justify-content: space-between;
}
#item-stats > * {
    margin: 15px;
}

#item-img {
    height:250px;
}
#item-label {
    background-color: rgb(102, 102, 247);
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 30px;
    height: 50px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    width: 100px;
}
#item-label:hover {
    filter: brightness(135%);
}

input[type=checkbox] {
    display: none;
}
input[type=checkbox]:checked + label {
    background-color: rgb(181, 181, 251);
    color: white;
}
.selected {
    background-color: rgb(56, 168, 56);
    border: none;
    color: white;
}

#return-btn {
    width: 150px;
}

#item-desc {
    width: 40vw;
    line-height: 1.6;
}